node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.production
coverage/
*.log
*.keystore
*.keystore.b64
credentials.json
*.DS_Store
